0 * * * * root cd /app && /app/postgres_aggregation.py >> /var/log/aggregation_partial.log 2>&1
30 * * * * root cd /app && /app/postgres_aggregation.py -u 10 >> /var/log/aggregation_partial.log 2>&1
0,10,20,30,40,50 * * * * root cd /app && /app/stats.py >> /var/log/stats.log 2>&1